.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block h1 {
  color: rgb(0, 126, 84);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.header input{
  font-size: 15px;
    border-radius: 15px;
    padding: 10px 45px;
    box-shadow: 5px 5px grey;
}


@media screen and (max-width: 700px) {
  .main {
    width: 140vw;
  }

  .blk {
    margin: 16px 22px;
    width: 140vw;
    overflow: scroll;
  }
}

.main table {
  padding: 20px;
  background-color: rgb(210, 210, 210);
  border-radius: 15px;
}

.main table tr {
  padding: 10px;
}

.main table thead {
  border: 1px solid black;
}

.main table thead th{
  padding: 20px 30px;
}

.main table td {
  padding: 20px 30px;
  cursor: pointer;
}
